
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">Parkir Ilegal</h2>
            <h5 class="text-white pb-2 fw-bold">Aplikasi ditujukan kepada kendaraan yang memasuki area dilarang parkir.</h5>
          </div>
        </div>
      </div>
    </div>
    
<div class="row">
  <div class="col-md-8">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
          <div class="card card-post card-round">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="#">
                        Teks yang Ditulis
                    </a>
                </h3>
                {{ form.text(placeholder=pesan, class="form-control", rows="10") }}
                <div class="separator-solid"></div>
                <h3 class="card-title">
                    <a href="#">
                        Teks yang Disuarakan
                    </a>
                </h3>
                <textarea rows="5" class="form-control" disabled>{{pesanSebelum}}</textarea>
                <div class="separator-solid"></div>
                <div class="col-md-3">
                  <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
          </div>
      </form>
  </div>
      <div class="col-md-4">
          <div class="card card-profile">
              <div class="card-body">
                  <div class="user-profile text-center">
                      <div class="name">Hasil Pengolahan Citra</div>
                  </div>
              </div>
              <div class="card-footer">
                  <div class="user-profile text-center">
                      <img src="/static/image/3.JPG" alt="HTML5 Icon" style="width:300px;height:300px;">
                  </div>
              </div>
          </div>


          <div class="card card-profile">
              <div class="card-header" style="background-image: url('/assets/img/blogpost.jpg')">
                  <div class="profile-picture">
                      <div class="avatar avatar-xl">
                          <img src="/static/assets/img/audio2.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="user-profile text-center">
                      <div class="name">Hasil Pengolahan Suara</div>
                  </div>
              </div>
              <div class="card-footer">
                  <div class="user-profile text-center">
                      <audio controls>
                        <source src={{content}} type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row row-card-no-pd">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row card-tools-still-right">
                <h4 class="card-title">Video Hasil Simulasi</h4>
              </div>
              <p class="card-category">
              Map of the distribution of users around the world</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="table-responsive table-hover table-sales">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="flag">
                              <img src="/static/assets/img/flags/id.png" alt="indonesia">
                            </div>
                          </td>
                          <td>Indonesia</td>
                          <td class="text-right">
                            2.320
                          </td>
                          <td class="text-right">
                            42.18%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="flag">
                              <img src="/static/assets/img/flags/us.png" alt="united states">
                            </div>
                          </td>
                          <td>USA</td>
                          <td class="text-right">
                            240
                          </td>
                          <td class="text-right">
                            4.36%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="flag">
                              <img src="/static/assets/img/flags/au.png" alt="australia">
                            </div>
                          </td>
                          <td>Australia</td>
                          <td class="text-right">
                            119
                          </td>
                          <td class="text-right">
                            2.16%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="flag">
                              <img src="/static/assets/img/flags/ru.png" alt="russia">
                            </div>
                          </td>
                          <td>Russia</td>
                          <td class="text-right">
                            1.081
                          </td>
                          <td class="text-right">
                            19.65%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="flag">
                              <img src="/static/assets/img/flags/cn.png" alt="china">
                            </div>
                          </td>
                          <td>China</td>
                          <td class="text-right">
                            1.100
                          </td>
                          <td class="text-right">
                            20%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="flag">
                              <img src="/static/assets/img/flags/br.png" alt="brazil">
                            </div>
                          </td>
                          <td>Brasil</td>
                          <td class="text-right">
                            640
                          </td>
                          <td class="text-right">
                            11.63%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mapcontainer">
                    <div id="map-example" class="vmap"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

{% block javascripts %}

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
